<mat-toolbar color="primary" class="mat-elevation-z6">
    <span><mat-icon>star</mat-icon> StarWarsAPI</span>

    <div class="spacer"></div>
    
    <a button mat-raised-button color="warn" routerLink=""><mat-icon>home</mat-icon> Home</a>
    <a button mat-raised-button color="warn" routerLink="/people"><mat-icon>face</mat-icon> Personagens</a>
    <a button mat-raised-button color="warn" routerLink="/planet"><mat-icon>public</mat-icon> Planetas</a>
    <a button mat-raised-button color="warn" routerLink="/film"><mat-icon>theaters</mat-icon> Filmes</a> 
  </mat-toolbar>
  <router-outlet></router-outlet>

 