<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>
    <mat-icon>face</mat-icon> Personagens
  </span>

  <div class="spacer"></div>

  <a button mat-raised-button color="warn" routerLink="">
    <mat-icon>home</mat-icon> Home
  </a>
</mat-toolbar>

<div>
  <mat-card>
    <table mat-table [dataSource]="characterList" class="mat-elevation-z8">

      <div>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>person</mat-icon> Nome
          </th>
          <td mat-cell *matCellDef="let people"> {{people.name}} </td>
        </ng-container>

        <ng-container matColumnDef="height">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>height</mat-icon> Altura
          </th>
          <td mat-cell *matCellDef="let people"> {{people.height}} </td>
        </ng-container>

        <ng-container matColumnDef="mass">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>balance</mat-icon> Peso
          </th>
          <td mat-cell *matCellDef="let people"> {{people.mass}} </td>
        </ng-container>

        <ng-container matColumnDef="hair_color">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>face_2</mat-icon> Cor do Cabelo
          </th>
          <td mat-cell *matCellDef="let people"> {{people.hair_color}} </td>
        </ng-container>

        <ng-container matColumnDef="skin_color">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>accessibility</mat-icon> Cor da pele
          </th>
          <td mat-cell *matCellDef="let people"> {{people.skin_color}} </td>
        </ng-container>

        <ng-container matColumnDef="eye_color">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>visibility</mat-icon> Cor dos olhos
          </th>
          <td mat-cell *matCellDef="let people"> {{people.eye_color}} </td>
        </ng-container>

        <ng-container matColumnDef="birth_year">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>cake</mat-icon> Aniversário
          </th>
          <td mat-cell *matCellDef="let people"> {{people.birth_year}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>male</mat-icon> Gênero
          </th>
          <td mat-cell *matCellDef="let people"> {{people.gender}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            <mat-icon>edit</mat-icon> Detalhes
          </th>
          <td mat-cell *matCellDef="let people; let i = index">
            <button (click)="characterDetail(i+1)" mat-raised-button color="primary">Detalhes</button>
          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </div>

    </table>
  </mat-card>
</div>
