<mat-toolbar color="primary" class="mat-elevation-z6">
    <span><mat-icon>public</mat-icon> Espécies</span>
    <div class="spacer"></div>
    <a button mat-raised-button color="warn" routerLink=""><mat-icon>home</mat-icon> Home</a>
    </mat-toolbar>

    <mat-card>
        <table mat-table [dataSource]="species" class="mat-elevation-z8">
      
  
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef><mat-icon>person</mat-icon> Nome </th>
            <td mat-cell *matCellDef="let species"> {{species.name}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="classification">
            <th mat-header-cell *matHeaderCellDef><mat-icon>architecture</mat-icon> Classificação </th>
            <td mat-cell *matCellDef="let species"> {{species.classification}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef><mat-icon>language</mat-icon> Designação </th>
            <td mat-cell *matCellDef="let species"> {{species.designation}} </td>
          </ng-container>
      
             <!-- Symbol Column -->
             <ng-container matColumnDef="average_height">
              <th mat-header-cell *matHeaderCellDef><mat-icon>people</mat-icon> Altura média </th>
              <td mat-cell *matCellDef="let species"> {{species.average_height}} </td>
            </ng-container>
      
               <!-- Symbol Column -->
          <ng-container matColumnDef="skin_colors">
            <th mat-header-cell *matHeaderCellDef><mat-icon>brightness_high</mat-icon> Cor da pele </th>
            <td mat-cell *matCellDef="let species"> {{species.skin_colors}} </td>
          </ng-container>
      
               <!-- Symbol Column -->
          <ng-container matColumnDef="hair_colors">
            <th mat-header-cell *matHeaderCellDef><mat-icon>terrain</mat-icon> Cor do cabelo </th>
            <td mat-cell *matCellDef="let species"> {{species.hair_colors}} </td>
          </ng-container>

             <!-- Symbol Column -->
          <ng-container matColumnDef="eye_colors">
            <th mat-header-cell *matHeaderCellDef><mat-icon>terrain</mat-icon> Cor dos olhos </th>
            <td mat-cell *matCellDef="let species"> {{species.eye_colors}} </td>
          </ng-container>

             <!-- Symbol Column -->
          <ng-container matColumnDef="average_lifespan">
            <th mat-header-cell *matHeaderCellDef><mat-icon>terrain</mat-icon> Média de vida </th>
            <td mat-cell *matCellDef="let species"> {{species.average_lifespan}} </td>
          </ng-container>

             <!-- Symbol Column -->
          <ng-container matColumnDef="homeworld">
            <th mat-header-cell *matHeaderCellDef><mat-icon>terrain</mat-icon> Terra natal </th>
            <td mat-cell *matCellDef="let species"> {{species.homeworld}} </td>
          </ng-container>

             <!-- Symbol Column -->
          <ng-container matColumnDef="language">
            <th mat-header-cell *matHeaderCellDef><mat-icon>terrain</mat-icon> Linguas </th>
            <td mat-cell *matCellDef="let species"> {{species.language}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card>